<html>
  <head></head>
  <body>
    <% if @caterpillar_navigation -%>
      <%= stylesheet_link_tag 'caterpillar/caterpillar' %>
      <%= javascript_include_tag 'caterpillar/caterpillar' %>
      <%= render :partial => "caterpillar/navigation" %>
    <% end -%>

    <%= yield %>
</body>
</html>
