<% if @javascripts.include? 'prototype' %>
<h2>Prototype</h2>
<p>
	<%= link_to_remote 'What time it is?', :update => 'result', :url => {:action => 'get_time'} %>
</p>


<% else %>
<h2>jQuery</h2>
<p>
  <a href="#" id="jq_link">What time it is?</a>
  <script type="text/javascript">
  $('#jq_link').click(function(){
    $.ajax({
      url: "<%= url_for :action => 'get_time' %>",
      type: 'POST',
      data: '',
      success: function(data) {
        $('#result').html(data);
      }
    });
  });
  </script>
</p>

<% end %>

<div id="result"></div>


