<style type="text/css">
body {
background: white;
}
</style>
<%= image_tag 'caterpillar/caterpillar.gif' %>
<span style="font-size: 3em;">
Caterpillar <%= Caterpillar::VERSION %>
</span>
<hr />

Includes <%= link_to 'portlet test bench', portlet_test_bench_url %>.