<% if @namespace  %>

  <p>
    Portlet namespace:<br />
    <span style="font-size:1.2em; text-style: italic;">
      <%= @namespace %>
    </span>
  </p>

<% else %>

Sorry, the cookie "Portlet_namespace" is not set.

<% end %>